*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background: #383f47;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator{
  background: #3a4452;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.2);
}

.calculator form input{
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  color: #e3f9ff;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
}

.calculator form input:hover{
  background: #303743;
}

form .display{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input{
  text-align: right;
  flex: 1;
  font-size: 45px;
  padding: 1rem;
  box-shadow: inset -8px -8px 15px rgba(255, 255, 255, 0.1),
  inset 5px 5px 15px rgba(0, 0, 0, 0.2);
}

form input.equal{
  width: 60px;
  color: #3a4452;
  background: #33ffd8;
}
form input.equal:hover{
  background: #27caad;
}
form input.ac{
  color: #ffffff;
  background: #ff3333;
}
form input.ac:hover{
  background: #ec1919;
}

form input.operator{
  color: #33ffd8;
}

